@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%; */
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
}
.heading-text {
  font-size: calc(40px + 0.5vw);
  font-weight: 400;
  line-height: calc(36px + 0.4vw);
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  color: rgb(255, 255, 255);
  margin: 1rem 0;
}
.nav-heading-text {
  font-size: calc(22px + 0.5vw);
  font-weight: lighter;
  line-height: calc(36px + 0.4vw);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.content-text {
  font-size: calc(10px + 0.5vw);
  font-weight: 300;
  line-height: calc(23px + 0.4vw);
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;

  color: rgb(255, 255, 255);
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #575454;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #101010;
  border-radius: 90px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.about_us_sec {
  padding: 50px;
  margin-top: 90px !important;
  margin-bottom: 30px !important;
  background: linear-gradient(
    90deg,
    rgba(63, 58, 66, 1) 0%,
    rgba(121, 63, 63, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  display: flex;
  width: 70%;
  margin: 0 auto;
  gap: 2rem;
}
.about_us_sec .about_us_img,
.about_us_sec .about_us_content {
  width: 50%;
}
.about_us_sec .about_us_img img {
  border-radius: 20px;
  overflow: hidden;
  height: 290px;
  width: 600px;
}
.about_us_sec .about_us_content {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.doted_section {
  background-image: url("./assets/section-dots.png");
  background-position: bottom left;
  width: 100vw;
  height: 48px;
}
.our_vision_sec {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 70%;
  margin: 0 auto;
  gap: 2rem;
}
.our_vision_content {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 50px;
  background-color: #fff;
  text-align: left;
  width: 50%;
}

.our_vision_content p,
.our_vision_content h4,
.our_vision_content h1 {
  color: #101010;
  text-align: left;
}
.our_vision_content h4 {
  font-size: calc(12px + 0.5vw);
  line-height: calc(23px + 0.4vw);
  font-weight: bold;
}

.our_vision_content ul {
  list-style: none;
}
.our_vision_content ul li {
  font-size: calc(9px + 0.5vw);
  line-height: calc(20px + 0.4vw);
  color: #101010;
  text-align: left;
  font-weight: 300;
}
.our_vision_content ul li:before {
  content: "✓";
  margin-right: 3px;
  color: rgba(252, 176, 69, 1);
  font-weight: bold;
}
.our_vision_sec .our_vision_img {
  width: 50%;
}
.our_vision_sec .our_vision_img img {
  border-radius: 20px;
  overflow: hidden;
  height: 350px;
  width: 600px;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 300ms ease 0ms;
  margin-right: 20px;
  margin-bottom: 15px;
}
.our_vision_sec .our_vision_img img:hover {
  box-shadow: -9px 11px 18px 0px rgba(0, 0, 0, 0.3);
}
#home {
  background-image: url("./assets/banner_image.jpg");
  background-attachment: fixed;
}
.home_sec {
  background-color: #ffffffad;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}
.home_sec p,
.home_sec h1 {
  color: #101010;
  font-weight: 500;
}

/* nav bar css */
